<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @team.nome %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @team.cliente_id %>
</p>

<p>
  <strong>Plano:</strong>
  <%= @team.plano_id %>
</p>

<p>
  <strong>Modalidade:</strong>
  <%= @team.modalidade_id %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
