<p id="notice"><%= notice %></p>

<p>
  <strong>Data saida:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Origem:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Forma pgto:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
