<%= stylesheet_link_tag 'errors' %>
<%= javascript_include_tag 'errors' %>


<main>
  <div>
    <div>
      <span>Erro&nbsp;500</span>
      <span>erro&nbsp;interno&nbsp;no&nbsp;servidor</span>
    </div>
    <svg viewBox="0 0 200 600">
      <polygon points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 200 591.044514 200 8"></polygon>
    </svg>
  </div>
  <svg class="crack" viewBox="0 0 200 600">
    <polyline points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514"></polyline>
  </svg>
  <div>
    <svg viewBox="0 0 200 600">
      <polygon points="118.302698 8 59.5369448 66.7657528 186.487016 193.715824 14 366.202839 153.491505 505.694344 68.1413353 591.044514 0 591.044514 0 8"></polygon>
    </svg>
    <div>
      <span>
        Forneça as informações abaixo ao administrador do sistema!<br>
        <%= Time.now.strftime("%d/%m/%Y %H:%M:%S") %> || <%= request.uuid %>
      </span>

      <span>
        <%= link_to root_path do %>
          <a>
            <b>retornar&nbsp;para&nbsp;página principal?</b>
          </a>
        <% end %>
      </span>
    </div>
  </div>
</main>

