<div class= "nested-fields  form-horizontal">
      <div class="field form-group">
        <%= f.label :origem, class: 'control-label' %>
        <%= f.number_field :origem, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :cest, class: 'control-label' %>
        <%= f.number_field :cest, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :cst, class: 'control-label' %>
        <%= f.number_field :cst, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :cfop, class: 'control-label' %>
        <%= f.number_field :cfop, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :pis_cst, class: 'control-label' %>
        <%= f.number_field :pis_cst, class: 'form-control' %>
        </div>
      <div class="field form-group">
        <%= f.label :ncm, class: 'control-label' %>
        <%= f.number_field :ncm, class: 'form-control' %>
        </div>
    <br>
</div>