<%= stylesheet_link_tag 'mensalidades' %>
<%= form_with(url: pagar_aluguel_path(@mensalidade.id), local: true, method: :post, html: { id: 'pagarAluguelForm' }) do |form| %>

  <fieldset class="fieldset-border">
    <legend class="legend-border">Pagar mensalidade</legend>

    <div class="pagarQuadra">
      <div class='dataPagamento'>
        <div class="field">
          <%= form.label :vencimento %>
          <%= date_field :mensalidade, :vencimento, value: @mensalidade.vencimento,class: 'form-control' %>
        </div>
        <div class="field">
          <%= form.label :data_pagamento %>
          <%= date_field :mensalidade, :data_pagamento, value: @mensalidade.data_pagamento,class: 'form-control' %>
        </div>
        <div class="field formValor">
          <%= form.label :mensalidade %>
          <div class="input-group">
            <span class="input-group-addon">R$</span>
            <%= text_field :mensalidade, :value, value: @mensalidade.value,:onkeyup =>'maskPrice(this)', class: 'form-control', readonly: true %>
          </div>
        </div>
      </div>
      <div class='valorTimes'>
        <div class="field formValor">
          <%= form.label :saldo %>
          <div class="input-group">
            <span class="input-group-addon">R$</span>
            <%= form.text_field  :saldo, value: @mensalidade.saldo,:onkeyup =>'maskPrice(this)', class: 'form-control' , readonly: true%>
          </div>
        </div>
        <div class="field formValor">
          <%= form.label :valor_pago %>
          <div class="input-group">
            <span class="input-group-addon">R$</span>
            <%= text_field :mensalidade, :valor_pago, value: '0,00',:onkeyup =>'maskPrice(this)', class: 'form-control', required: true %>
          </div>
        </div>
      </div>

    <div class="botaoPagar">
      <%= form.submit "Pagar mensalidade" , class: 'btn btn-round btn-success', id: 'submitForm' %>
    </div>
  </fieldset>
<% end %>
