<!DOCTYPE html>
<html>
    <head>
        <title>UrupaArena</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application' %>
        <%= stylesheet_link_tag    'sistema' %>
        <%= javascript_include_tag 'application' %>
        <%= javascript_include_tag 'sistema' %>
    </head>
    <body class="login">
        <div>
            <div class="login_wrapper">
                <div class="animate form login_form">
                    <section class="login_content">
                        <%= yield %>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br/>
                            <div>
                                <h1>
                                    <i class="fa fa-soccer-ball-o"></i>
                                    Urupa Arena</h1>
                            </div>
                            <div class="justify-content-center">
                                <p class="notice"><%= notice %></p>
                                <p class="alert"><%= alert %></p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
